{% form 'cart', cart %}
  <div class="bag">
    <div class="padding-large padding-vertical">
      <div class="page-padding">
        <div class="container-large w-container">
          <div class="bag_wrapper">
            <div class="breadcrumbs" style="font-size:0.95rem;">
              <a href="{{ routes.cart_url }}" aria-current="page">BAG</a>
              <div>&gt;</div>
              <a href="/checkout">INFORMATION</a>
              <div>&gt;</div>
              <div>SHIPPING</div>
              <div>&gt;</div>
              <div>PAYMENT</div>
            </div>
            <div class="bag_list-wrapper">
              <h1 class="heading-l">Your <em>Bag</em></h1>
              <div class="bag_list">
                <div class="bag_product is-titles">
                  <div class="bag_product-header-wrapper">
                    <div class="text-caption">item</div>
                  </div>
                  <div class="bag_price">
                    <div class="text-caption">price</div>
                  </div>
                  <div class="bag_quantity">
                    <div class="text-caption">quantity</div>
                  </div>
                  <div class="bag_total">
                    <div class="text-caption">total</div>
                  </div>
                  <div class="bag_delete"></div>
                </div>

                <div class="bag-items" id="bag-items">
                  {% if cart.items.size < 1 %}
                    <p class="margin-vertical margin-huge text-style-sans opacity50 text-align-center">
                      Your bag is empty.
                    </p>
                  {% endif %}
                  {% for item in cart.items %}
                    {% assign default_stock = item.product.selected_or_first_available_variant.inventory_quantity %}
                        {% if item.product.selected_or_first_available_variant.available
                          and default_stock < 1
                          or item.product.selected_or_first_available_variant.available
                          and default_stock == ''
                        %}
                          {% assign default_stock = 99999 %}
                        {% endif %}
                        {% assign custom_max = item.product.metafields.custom.max %}
                        {% if custom_max and default_stock > custom_max %}
                          {% assign product_stock = custom_max %}
                        {% else %}
                          {% assign product_stock = default_stock %}
                        {% endif %}
                    {% assign required_quantity_increment = 1 %}
                    {% if item.product.metafields.custom.required_quantity_increment > 1 %}
                      {% assign required_quantity_increment = item.product.metafields.custom.required_quantity_increment %}
                    {% endif %}
                    <div class="bag_product">
                      <div class="bag_product-header-wrapper">
                        <a href="{{ item.url }}" class="bag_product-title-wrapper w-inline-block">
                          <div class="bag_product-img">
                            <div class="img-portrait-sm">
                              {% if item.variant.featured_image -%}
                                <img
                                  src="{{ item.variant.featured_image | image_url: width: 300 }}"
                                  alt="{{ item.product.title }}"
                                  class="img-base"
                                >
                              {%- else -%}
                                <img
                                  src="{{ item.product.featured_image | image_url: width: 300 }}"
                                  alt="{{ item.product.title }}"
                                  class="img-base"
                                >
                              {% endif %}
                            </div>
                          </div>
                          <div class="bag_product-title">
                            <div class="text-item serif">{{ item.product.title }}</div>
                            {% unless item.product.has_only_default_variant %}
                              <div class="text-caption opacity50">{{ item.variant.title }}</div>
                            {% endunless %}
                            {% unless item.properties == empty %}
                              {% if item.properties._Customization %}
                                <div class="body-small opacity50 margin-top margin-tiny">
                                  Customization: "{{ item.properties._Customization }}"
                                </div>
                              {% endif %}
                              {% if item.properties['Recipient Email'] %}
                                <div class="body-small opacity50 margin-top margin-tiny">
                                  Send to: {{ item.properties['Recipient Email'] }}
                                </div>
                              {% endif %}
                              {% if item.properties._preorderText %}
                                <div class="body-small opacity50 margin-top margin-tiny" style="line-height:1.1">
                                  {{ item.properties._preorderText }}{{ item.properties._availText }}
                                </div>
                              {% endif %}

                            {% endunless %}
                          </div>
                        </a>
                        <div class="bag_delete show-tablet">
                          <a
                            style="cursor:pointer"
                            onclick="updateItem({{ forloop.index }}, 0);$(this).parent().parent().parent().fadeOut();"
                            class="bag-delete-btn w-inline-block"
                          ></a>
                        </div>
                      </div>

                      <div class="bag_mobile-titles">
                        <div>PRICE</div>
                        <div>QUANTITY</div>
                        <div>TOTAL</div>
                      </div>

                      <div class="bag_price">
                        <div>{{ item.price | money_without_trailing_zeros }}</div>
                      </div>

                      <div class="bag_quantity">
                        <div class="add-to-cart_quantity is-bag w-embed">
                          <label style="display:none">Quantity</label>
                          <button
                            data-step="{{ item.product.metafields.custom.required_quantity_increment }}"
                            style=" font-size: 24px; padding: 10px; border: none; background-color: transparent; "
                            type="button"
                            class="quantity-button decrement-quantity"
                            onclick="updateQuantityClick(this)"
                            aria-label="Subtract one"
                            data-direction="-1"
                          >
                            <svg
                              width="15"
                              height="15"
                              viewbox="0 0 15 2"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d='M0 1H14.5' stroke='currentColor' stroke-width='0.75'></path>
                            </svg>
                          </button>
                          <input
                            {% if required_quantity_increment > 1 %}
                              readonly
                            {% endif %}
                            data-step="{{ item.product.metafields.custom.required_quantity_increment }}"
                            step="{{ item.product.metafields.custom.required_quantity_increment }}"
                            onchange="updateItem({{ forloop.index }}, this.value);"
                            style="{% if required_quantity_increment > 1 %}cursor:not-allowed;{% endif %}padding: 0px; padding-bottom: 3px; width: 40px; text-align: center; border: none; background-color: transparent; "
                            data-min="1"
                            data-max="{{ product_stock }}"
                            type="text"
                            name="updates[]"
                            class="quantity-value"
                            value="{{ item.quantity }}"
                          >
                          <button
                            data-step="{{ item.product.metafields.custom.required_quantity_increment }}"
                            style=" font-size: 24px; padding: 10px; border: none; background-color: transparent; "
                            type="button"
                            class="quantity-button increment-quantity"
                            onclick="updateQuantityClick(this)"
                            aria-label="Add one"
                            data-direction="1"
                          >
                            <svg
                              width="15"
                              height="15"
                              viewbox="0 0 15 15"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d='M0 7.25H14.5' stroke='currentColor' stroke-width='0.75'></path> <path d='M7.25 0L7.25 14.5' stroke='currentColor' stroke-width='0.75' ></path>
                            </svg>
                          </button>
                        </div>
                      </div>

                      <div class="bag_total">
                        <div>{{ item.price | times: item.quantity | money_without_trailing_zeros }}</div>
                      </div>

                      <div class="bag_delete hide-tablet">
                        <a
                          style="cursor:pointer"
                          onclick="updateItem({{ forloop.index }}, 0);$(this).parent().parent().fadeOut();"
                          class="bag-delete-btn w-inline-block"
                        ></a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% if cart.items.size > 0 %}
              <div class="bag_total-card">
                <div class="bag_total-header">
                  <div class="heading-m">Subtotal</div>
                  <div id="cart-total" class="price_total-price">
                    {{ cart.total_price | money_without_trailing_zeros }}
                  </div>
                </div>
                <div class="opacity50">Taxes and shipping calculated at checkout</div>
                <div class="bag_total-checkout" style="border-top:1px solid gray;padding-top:1.5rem;">
                  <!-- Route Code Edited 8/1/23 -->
                  <div class="route-div" watch-changes="#bag-preview_list"></div>
                  <div style="font-size: 12px; text-align:left;line-height:110%;margin-bottom:1.5rem;">
                    By purchasing Route protection, you ensure your EyeSwoon order is covered should the unpredictable
                    occur. Replacements or refunds are often processed within a matter of hours by the Route team.
                  </div>
                  <!-- End Route Code -->
                  <a href="/checkout" class="button button-large width-full w-button">Checkout</a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endform %}

<style>
  .bag-delete-btn {
    background-image: url('{{ ' close.webp' | asset_url }}')
  };
</style>

{% schema %}
{
"name": "Bag",
"tag": "div",
"class": "bag-wrapper"
}
{% endschema %}
